@font-face {
  font-family: 'iconfont';  /* project id 561421 */
  src: url('https://at.alicdn.com/t/font_561421_dmnqfslv5dsra4i.eot');
  src: url('https://at.alicdn.com/t/font_561421_dmnqfslv5dsra4i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_561421_dmnqfslv5dsra4i.woff') format('woff'),
  url('https://at.alicdn.com/t/font_561421_dmnqfslv5dsra4i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_561421_dmnqfslv5dsra4i.svg#iconfont') format('svg');
}
.head{
	width: 100%;
	height: 40px;
    background-color: #333;
}
.head_buy1{
	font-family:'iconfont'; 
	color: #b0b0b0;
	line-height: 40px;
	font-size: 14px;
}

.head_main{
	width:1226px;
	height:40px;
	margin: 0 auto;}
 .head_wenzi{
 	color: #b0b0b0;
 	line-height: 40px;
 	font-size: 12px;
 	float: left;
 }
.head_line{
     width: 1px;
     height: 12px;
     background-color :#423d39;
     float: left;
     margin-top: 14px;
     margin: 14px 7px 0;
}
.head_line :hover{
     color: red;
}
.head_left{
	float: left;
}
.head_right{
	float: right;
}
.daohang{
	width: 1226px;
	height:100px;
	margin: 0 auto;
}
.nav_logo{
	width: 55px;
	height: 55px;
	margin-top: 22px;
	background-color: #ff6700;
	float: left;
}
.nav_wenzi{
    float: left;
    margin-left: 189px;
}
.nav_wenzi span{
	line-height: 100px;
	color: #333;
	font-size: 15px;
	float:left;
	padding-left:10px;
	padding-right: 10px;
	cursor:pointer;
}
.head_buy{
	width: 128px;
	height: 40px;
	background-color: #424242;
	float: left;
	margin-left: 25px;
	text-align: center;
}
#banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}
.banner_image{
	width: 8px;
	height: 8px;
	background-color: #B0B0B0;
	border-radius: 50%;
	color: #ffff;
	text-align: center;
	line-height: 8px;
	float: left;
	position:absolute;
	bottom: 5px;
	right: 15px;
}
.banner_image:hover{
	background-color:red;
	cursor: pointer;
}
.banner_image1{
	bottom: 5px;
	right: 25px;
}
.banner_image2{
	bottom: 5px;
	right: 35px;
}
.banner_image3{
	bottom: 5px;
	right: 45px;
}
.banner_img{
	width: 1226px;
	height: 460px;
	position: relative;
}
.banner_img:hover{
	cursor: pointer;
}
.banner_img img{
	width: 1226px;
	height: 460px;
	position: absolute;
	left: 0;
	top: 0;
}

.banner_nav{
	width: 234px;
	height: 420px;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px 0;
}
li:hover{
	background-color:#FF6700;
}
.banner_nav li{
	width: 174px;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color: #fff;
	padding: 0 30px;
}
.banner_jiantou{
	float: right;
}
.xuangou{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top:14px; 
}

.banner_btn{
	width: 41px;
	height: 69px;
	text-align: center;
	line-height: 69px;
	color: #b0b0b0;
	font-size: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.banner_btn:hover{
	background-color:rgba(125,27,27,0.6);
	cursor:pointer;
}
.banner_lbtn{
	left: 234px;
}
.banner_rbtn{
	right: 0;
}
.xuangou_left{
	width: 234px;
	height: 170px;
	float: left;
	background-color: #5F5750;
}
.xuangou_left:hover{
	cursor: pointer;
}

.xuangou_right{
	width: 978px;
	height: 170px;
	float: right;
    
}
.xuangou_right1 img{
	width: 316px;
	height: 170px;
	margin-right: 15px;
	float: left;
}
.xuangou_right1:hover{
	cursor:pointer;
}
.xuangou_right2 img{
	margin-right: 0;
}
.xuangou_left1{
	width: 78px;
	height: 85px;
	float: left;
	color: white;
}

.left1_top{
    font-family: 'iconfont';
	line-height: 40px;
	text-align: center;

}
.left1_buttom{
	text-align: center;

}
.suosuo1{
	width: 294px;
	height: 50px;
	float: right;
	margin-top: 20px;
	position: relative;
	text-align: center;
}
	
.suosuo2{
	width: 50px;
	height: 50px;
	position: absolute;
	float: right;
	top: 60px;
	right: 62px;
	outline: none;
	font-family: 'iconfont';
	text-align: center;
}
.star{
	width: 1226px;
	height: 398px;
	margin: 0 auto;
	margin-top: 26px;
}
.star_top{
	width: 100%;
	height: 58px;

}
.star_top h1{
  	line-height:58px ; 
 	float: left;
 	color: #333;  
 	font-size: 21px;    
} 
.star_bottom{
	width:100%;
	height: 340px;
}
.star_item{
	width: 234px;
	height: 300px;
    background-color: #fafafa;
	border-top: 1px solid #ffac13;
	padding-top: 39px;
	float: left;
	margin-right: 14px;
}
.star_item1{
    margin-right: 0;
}
.star_item img{
	width: 160px;
	height: 166px;
	margin: 0 auto;
	display: block;
}
.star_item img:hover{
	cursor: pointer;
}
.star_btn{
	width: 69px;
	height: 22px;
	float: right;
	margin-top: 17px;
	border: 1px solid #e0e0e0;
}
.star_btn div{
	width: 34px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	float: left;
	cursor:pointer ;
	color: #e0e2e6;
}
.star_btn .star_btn1{
	border-right: 1px solid #e0e0e0;
	color:#C2B4B0 ;
}
.star_item h1{
	text-align: center;
	font-size: 14px;
	color: #212121;
	font-weight: 400;
	margin-top: 22px;
}
.star_item h2{
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
	font-weight: normal;
	margin-top: 3px;
}
.star_item h3{
	text-align: center;
	font-size: 14px;
	color: #ff6700;
	font-weight: normal;
	margin-top: 12px;
}
.star_item2{
    border-top-color: yellowgreen;
}
.star_item3{
	border-top-color: green;
}
.star_item4{
	border-top-color: blue;
}
.star_item5{
	border-top-color: pink;
}

.content{
	width: 100%;
	background-color: #f5f5f5;
	margin-top: 40px;
	padding-top: 60px;
	padding-bottom: 60px;

}
.zhineng{
	width: 1226px;
	height: 672px;
    margin: 0 auto;
}
.zhengneng_top{
	width: 1226px;
	height: 58px;
}
.zhengneng_top h1{
	float: left;
	line-height: 58px;
	font-size: 21px;
	color: #333333;
}
.zhineng_top1{
	float: right;
}
.zhineng_top1 h5{
	line-height: 58px;
	color: #333333;
	float: left;
}
.zhineng_top2{
	width: 23px;
	height: 23px;
	background-color: #B0B0B0;
	margin-top: 17.5px;
	margin-left: 10px;
	border-radius: 50%;
	color: #ffff;
	text-align: center;
	line-height: 23px;
	float: left;
}
.zhineng_buttom{
	width: 100%;
	height: 614px;
}
.zhineng_left{
	width: 234px;
	height: 100%;
	float: left;
	transition: bottom 1s linear,opacity 0.5s linear;
}

.zhineng_right{
	width: 992px;
	height: 100%;
	float: right;
}
 .zhengneng_tan{
	width: 100%;
	height: 80px;
	background-color: #ff6700;
	position: absolute;
	left:0;
	bottom: -80px;
	transition: bottom 1s linear,opacity 0.5s linear;
	opacity: 0;
	color: white;
	padding-top: 10px;
}
.zhengneng_item:hover .zhengneng_tan{
	bottom: 0;
	opacity: 1;
} 
.zhengneng_item:hover,.zhineng_left:hover{
	transform:translateY(-5px);
	box-shadow:0 10px 20px 10px rgba(191, 191, 191, 0.5);
}
.reping_item:hover{
	transform:translateY(-5px);
	box-shadow:0 10px 20px 10px rgba(191, 191, 191, 0.5);
}
.zhengneng_item{
	width: 234px; 
	height:266px;
	background-color: #fff;
	margin-left: 14px;
	padding-top: 34px;
	float: left;
	position: relative;
	overflow:hidden;
	transition: all 0.5s linear; 
}
.zhineng_item3 img{
	width: 234px; 
	height:266px;
}
.zhengneng_item img{
	width: 150px;
	height: 156px;
	margin: 0 auto;
	display: block;
}
.zhengneng_item a{
	text-align: center;
	font-size: 14px;
	color: #212121;
	font-weight: 400;
	margin-top: 22px;
	display: block;
}
.zhengneng_item p{
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
	font-weight: normal;
	margin-top: 3px;
}
.zhengneng_item h2{
	text-align: center;
	font-size: 14px;
	color: #ff6700;
	font-weight: normal;
	margin-top: 12px;
}
.zheneng_item1{
	margin-top: 14px;
}
.dapei{
	width: 1226px;
	height: 672px;
	margin: 0 auto;
	margin-top: 22px;

}
.dapei_top{
	width: 1226px;
	height: 58px;
}
.dapei_top h1{
	line-height: 58px;
	float:left; 
	font-size: 21px;
}
.dapei_buttom1_f img{
	float: left;
	width: 234px;
	height: 300px;
	transition: bottom 1s linear,opacity 0.5s linear;

}
.dapei_buttom1_s img{
	float: left;
	width: 234px;
	height: 300px;
	margin-top: 14px;
}
.remen{
	float: right;
	margin-top: 22px;
}
.remen h3{
	float: left;
	margin-left: 32px;
	color: #333;
}
.remen1{
	color: red;
	border-bottom:2px solid red;
	margin-bottom:2px;
}

.zhineng_item1{
	margin-left: 0;
}
.zhineng_item2{
	margin-top: 12px;
}
.buttom{
	width: 1226px;
	height: 192px;
}
.buttom_left{
	width: 974px;
	height: 192px;
	float: left;
}
.line{
	width: 1px;
	height: 112px;
	margin: 0 0 80px;
	color: #E0E0E0;
    float: left;
}
.buttom_right{
	width: 251px;
	height: 192px;
	float: left;
}
.buttom_left1{
	width: 162.3px;
	height: 192px;
	float: left;
}
.buttom_left1_top{
	font-size: 12px;
	color: #464447;
	margin-top: 42px;
}
.buttom_left1_buttom{
	font-size: 12px;
	color: #808080;
	margin-top: 32px;
}
.buttom_left1_buttom1{
	margin-top: 17px;
}
.buttom_left1_buttom2{
	margin-top: 17px;
}
.buttom_left1_buttom3{
	margin-top: 17px;
}
.dianhua{
	color: red;
	font-size: 16px;
	text-align: center;
	margin-top: 40px;
}
.shijian{
	color: #616161;
	font-size: 12px;
	text-align: center;
	margin-top: 17px;
}
.shuoming{
	width: 118px;
	height: 28px;
	font-size: 9px;
	color:#FF6700;
	border:1px solid  #FF6700;
	text-align: center;
	margin:0 auto;
	margin-top: 20px;

}
.last{
	width: 100%;
	height: 166px;
	padding-top: 30px;
	background-color: #FAFAFA;

}
.tuijian{
	height: 358px;
}
.shangcheng{
	font-size: 12px;
	color: #757575;
	margin-left: 10px;
	float: left;
}
.shangcheng1{
	font-size: 12px;
	color: #757575;
	margin-left: 10px;
	float: left;
}
.shangcheng2{
	font-size: 12px;
	color: #757575;
	margin-left: 10px;
	float: left;
}
.xian{
	height: 13px;
	border-right: 1px solid black;
	margin-top: 4px;
	margin-left: 4px;
	float: left;
}

.last p{
	margin-top:37px;
	text-align: center;
	font-size: 17px;
	color: #BABABA;
} 
.head_wenzi:hover{
	color: #fff;
}
.head_buy:hover{
	cursor: pointer;
	color:red;
}
.head_buy1:hover{
	color:red;

}
li:hover{
	background-color: #FF6700;
	cursor: pointer;
}
.nav_wenzi span:hover{
	color:red;
	cursor: pointer;
}
.medium_right{
	width: 369px;
	height: 57px;
	float: left;
}
.medium_right1{
	width: 84px;
	height: 28px;
	margin-right: 11px;
	float: left;
}
.medium_right2{
	margin-right: 0;
}
.reping{
	width: 1226px;
	height: 495px;
	margin: 0 auto;
}
.reping_top{
	width: 1226px;
	height: 58px;
	margin-top: 22px;

}
.reping_top span{
	color: #333;
	font-size: 21px;
	line-height:58px; 
}
.reping_bottom{
	width: 1226px;
	height: 415px;
	}
.reping_item{
	width: 296px;
	height: 415px;
	margin-right: 14px;
	float: left;
	background-color: #fff;
}
.reping_item1{
	margin-right: 0;

}
.reping_item img{
	width: 296px;
	height: 220px;
}
.reping_item_wenzi{
	width: 296px;
	height: 195px;
	margin: 0 auto;

}
.reping_item_zhengti{
	margin: 10px;
	margin: 0 auto;
}
.reping_item_wenzi1{
	display: block;
	margin-left: 13px;
	margin-top: 34px;
	font-size: 12px;
	font-weight: normal;
	color:#333;
}
.reping_item_wenzi1{
	color:#434652;
}
.reping_item_wenzi3{
	margin-top: 18px;
	float: left;
}
.reping_item_wenzi4{
	margin-top: 18px;
	color: red;
	float: left;
}
.reping_item_wenzi2{
	color: #B0B0B0;
}
.reping_item_wenzi5 .reping_item_wenzi1{
	height: 50px;
}
.reping_line{
	margin-top: 20px;
	color: #E4EBF6;
}
.neirong{
	width: 1226px;
	height: 500px;
	margin: 0 auto;
}
.neirong_top{
	width: 1226px;
	height: 58px;
	padding-top: 22px
}
.neirong_top1{
	width: 100%;
	height: 58px;
	line-height: 58px;
	font-size: 21px;
	color: #333;
}
.neirong_bottom{
	width: 1226px;
	height: 420px;
	float: left;
}
.neirong_bottom_item{
	width: 296px;
	height: 366px;
	margin-right: 14px;
	float: left;
	padding-top: 54px;
	background-color: #fff;
	position: relative;
}
.neirong_btn{
	width: 20px;
	height: 24px;
	position: absolute;
	top: 200px;
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);
}
.neirong_bottom_item:hover .neirong_btn {
	color: rgba(255, 255, 255, 1);
	background-color:rgba(180, 180, 180, 0.3);
}
.neirong_bottom_item:hover {
	cursor: pointer;
}
.neirong_quan{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position:absolute;
	left: 100px;
	bottom: 30px;
	background-color: red;
}
.neirong_quan1{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position:absolute;
	left: 130px;
	bottom: 30px;
	background-color: #eee;
}
.neirong_quan1:hover{
	background-color: red;
}
.neirong_quan2{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position:absolute;
	left: 150px;
	bottom: 30px;
	background-color: #eee;
}
.neirong_quan2:hover{
	background-color: red;
}
.neirong_btn1{
	left: 0;
}
.neirong_btn2{
	right: 0;
}
.neirong_bottom_item1{
	margin-right: 0;
}
.neirong_wenzi{
	height: 154px;
	width: 266px;
	margin: 0 auto;
}
.neirong_bottom_item img{
	display: block;
	width: 215px;
	height: 153px;
	margin: 0 auto;
}
.neirong_last{
	height: 59px;

}
.neirong_bottom_item{
	border-top: 1px solid red;
}
.neirong_wenzi p{
	color: red;
	font-size: 14px;
	text-align: center;
}
.neirong_wenzi h1{
	margin-top: 25px;
	font-size: 18px;
	color: #413C45;
	text-align: center;
	font-weight: normal;
}
.neirong_wenzi h2{
	margin-top: 10px;
	font-size: 12px;
	color: #B0B0B0;
	text-align: center;
	font-weight: normal;
}
.neirong_wenzi h3{
	margin-top: 20px;
	font-size: 12px;
	color: #565656;
	text-align: center;
	font-weight: normal;
}
.shipin{
	width: 1226px;
	height: 368px;
	margin: 0 auto;
}
.shiping1 span{
	font-family: 'iconfont';
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 23px;
    position: absolute;
    bottom: 110px;
    left: 20px;
    color: white;
}
.shipin_bottom_item:hover span{
	color: red;
	cursor:pointer ;
}
.shipin_top{
	width: 1226px;
	height: 58px;
	padding-top: 22px;
}
.shipin_top1{
	line-height: 58px;
	font-size: 21px;
	color: #333;
}
.shipin_bottom{
	height: 288px;
	width: 1226px;
}	
.shipin_bottom_item{
	width: 296px;
	height: 288px;
	margin-right: 14px;
	float: left;
	background-color: #fff;
	position: relative;
}
.shipin_bottom_item1{
	margin-right: 0;
}
.shipin_bottom_item img{
	height: 180px;	
	width: 296px;
}
.shipin_bottom_item h1{
	margin: 0,auto;
	font-size: 12px;
	font-weight: normal;
	margin-top: 33px;
	color: #333;
	text-align: center;
}
.shipin_bottom_item h2{
	margin: 0,auto;
	font-size: 12px;
	font-weight: normal;
	margin-top: 13px;
	color: #B0B0B0;
	text-align: center;
}
.weixiu{
	width: 100%;
}
.weixiu_top{
	width: 1226px;
	height: 81px;
	margin: 0 auto;
}
.weixiu_top_item{
	width: 244px;
	height:81px;
	float: left;
	text-align: center;
	background-color: #fff;
	}
.weixiu_top_item span{
   font-family: 'iconfont'; 
   font-size: 12px;
   font-weight: normal;
   color: #8C6161;
   line-height: 81px;
}
.weixiu_top_item1{
	height: 15px;
	width: 1px;
	background-color: #8C6161;
	float: left;
	margin-top: 30px;
}
.weixiu_top_item2{
	float: right;
}
.buttom{
	height: 190px;
	width: 1226px;
	margin: 0 auto;
}
.medium_left img{
	width: 56px;
	height: 57px;
}
.medium_left1{
	width: 790px;
	height: 57px;
	float: left;
	padding-left: 10px;
}
.medium_left1:hover{
	color: red;
}
.medium_left1 span{
	float: left;
	margin-top: -4px;
}
.medium{
	width: 1226px;
	height: 57px;
	margin: 0 auto;
}
.medium_left{
	width: 857px;
	height:57px;
	float: left;
}
.medium_left img{
	width: 57px;
	height: 57px;
	float: left;
}
.head_wenzi1{
	line-height: 29px;
}
.head_line1{
	margin-top: 8px;
	font-size: 8px;
}
.head_wenzi2{
	margin-top: 10px;
	font-size: 8px;
	color: #333;
}
.medium_left1 span{
	display: block;
	color: #eee;
}


